.form_input input {
    width: 90%;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
}

.form_input {
    width: 50%;
}

.form_input label {
    width: 100%;
}

.form_input_address input {
    width: 95%;
    border-radius: 5px;
    border: 1px solid;
    padding: 10px;
}

.form_input_nearby {
    width: 50%;
    align-items: flex-start !important;
}

.form_input_nearby label {
    width: 100%;
}

.form_input_nearby input {
    width: 90%;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
}

.form_input_nearby .input_place {
    width: 70%;
}

.form_input_nearby .input_distance {
    width: 18%;
}

.nearby_place_row {
    display: flex;
    align-items: center;
    justify-content: between;
    width: 90%;
}

.add_nearby_button {
    background: transparent;
    border: none;
    color: #FEC901;
    width: 20%;
    align-items: flex-end;
}

.addSpace_form_button {
    display: flex;
    justify-content: center;
    align-items: center;
}


.addSpace_form_button button {
    margin-top: 20px;
    background: #10141D;
    color: white;
    padding: 5px 20px;
    border-radius: 10px;
    margin-left: 10px;
}

.addSpace_form_button button:hover {
    background: #FEC901;
    border: 1px solid #FEC901;
}

.cancel_button {
    background: #9EA1AC !important;
    border: 1px solid #9EA1AC;
}

.cancel_button:hover {
    background: #FEC901 !important;
    border: 1px solid #FEC901;
}
