.msgContainer {
	max-height: 60vh;
}

.msg {
	width: fit-content;
	max-width: 75%;
	height: fit-content;
	padding: 0.5rem;
	color: #000;
	border-radius: 0.5rem;
}

.msgReceived {
	background: #9ea1ac;
	margin-right: auto;
}

.msgSent {
	background: #e5e5e5;
	margin-left: auto;
}

.time {
	font-size: 0.8rem;
}
.timeReceived {
	margin-left: 0.5rem;
	margin-right: auto;
}
.timeSent {
	margin-left: auto;
	margin-right: 0.5rem;
}

.msgPreviewContainer {
	width: fit-content;
	max-width: 75%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;

	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.msgPreview {
	display: block !important;
	width: fit-content;
	max-width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;

	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
.msgUnread {
	width: 1.5rem;
	height: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pageContainer {
	min-height: 95vh;
}
.container25 {
	width: 25%;
	max-width: 25% !important;
}
.container50 {
	width: 50%;
	max-width: 50% !important;
}

.hScreen {
	height: 100vh !important;
}

.containerMaxHeight {
	max-height: 100vh !important;
}

.newMessageContent {
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	width:100%;
}
.newMessageUnread {
	width: 1.5rem !important;
	height: 1.5rem !important;
	display: flex;
	justify-content: center;
	align-items: center;
	aspect-ratio: 1/1;
}
.chatContainer {
	max-height: 85vh !important;
}
.chatMessageContainer {
	min-height: auto;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}
.chatMessageContainer::-webkit-scrollbar {
	width: 4px;
}
.chatMessageContainer::-webkit-scrollbar-thumb {
	background-color: #9ea1ac;
	border-radius: 4px;
}
.chatMessageContainer::-webkit-scrollbar-thumb:hover {
	background-color: #c4c4c4;
}
.chatMessageContainer::-webkit-scrollbar-thumb:active {
	background-color: #7b7b7b;
}
.chatMessageContainer::-webkit-scrollbar-track {
	background-color: transparent;
	border-radius: 4px;
}
.chatMessageContainer::-webkit-scrollbar-button {
	display: none;
}
.chatMessage {
	min-width: 25%;
	width: fit-content;
	max-width: 75%;
	height: fit-content;
	padding: 0.5rem 1rem;
	position: relative;
	margin-bottom: 2rem;
}
.chatFrom {
	background: #e5e5e5;
	margin-right: auto;
	border-radius: 0.5rem 0.5rem 0.5rem 0;
}
.chatSent {
	background: #F2F2F2;
	margin-left: auto;
	border-radius: 0.5rem 0.5rem 0 0.5rem;

}
.chatTime {
	display: flex;
	align-items: center;
	gap: 2px;
	font-size: 0.6rem;
	opacity: 0.75;
}
.chatFrom .chatTime {
	margin-left: 0rem;
	margin-right: auto;
}
.chatSent .chatTime {
	margin-left: auto;
	margin-right: 0rem;
}
