h1{
    font-size: 32px
}

h2{
    font-size: 24px
}

p{
    font-size: 20px
}

td {
    text-align: center
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

a{
    font-weight:600;
    position: relative;
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0.5px;
}

a:after {
    content: "";
    position: absolute;
    background-color: #000000;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

a:hover{
    color: #000000;
}

a:hover:after{
    width: 100%;
}